name: Deploy MkDocs site

on:
  push:
    branches:
      - main  # o tu branch principal

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - run: pip install mkdocs-material
      - run: mkdocs gh-deploy --force --remote-name origin
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
